<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/mycss.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- head -->
    <section class="hero is-fullheight header_block is-dark">
        <div class="hero-head">
            <div class="container">
                <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a href="#" class="navbar-item">
                            На Успенской
                        </a>
                        <a id="burger_btn" role="button" class="navbar-burger burger" aria-label="menu"
                            aria-expanded="false" data-target="navbarBasicExample" onclick="showMenu()">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="#price">
                                Цены
                            </a>

                            <a class="navbar-item" href="#works">
                                Примеры работ
                            </a>

                            <a class="navbar-item" href="#masters">
                                Мастера
                            </a>
                        </div>

                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-danger" href="https://www.instagram.com/na_uspenskoi/"
                                        target="_blank">
                                        <span class="icon">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                        <span>Наш инстаграм</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="first_container">
                    <h1 class="title is-1 is-spaced">
                        Мы поможем взглянуть <br>на себя по новой
                    </h1>
                    <h2 class="subtitle">
                        И ты полюбишь себя ещё больше
                    </h2>
                    <a class="button is-warning is-rounded">Записаться</a>
                </div>
            </div>
        </div>
    </section>

    <!-- price -->
    <section class="hero is-dark  is-midle" id="price">
        <div class="hero-head has-text-centered">
            <h2 class="title is-2 title_block">Наши Цены</h2>
            <span class="l_sub_decor"></span>
            <span class="sub_decor"></span>
            <span class="r_sub_decor"></span>
        </div>
        <div class="hero-body" style="margin-bottom: 50px;">
            <div class="container has-text-centered">
                <div class="columns is-desktop">
                    <div class="column">
                        <h3 class="title is-3">Стрижка</h3>
                        <ul class="price_list">
                            <li class="level">
                                <span class="level-left">Ножницами</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Ножницами</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Ножницами</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Ножницами</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Ножницами</span>
                                <span class="level-right">150р.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3 class="title is-3">Окрашивание</h3>
                        <ul class="price_list">
                            <li class="level">
                                <span class="level-left">Кисточкой</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Кисточкой</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Кисточкой</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Кисточкой</span>
                                <span class="level-right">150р.</span>
                            </li>
                            <li class="level">
                                <span class="level-left">Кисточкой</span>
                                <span class="level-right">150р.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Works -->
    <section class="hero is-dark is-fullheight" id="works">
        <div class="hero-head has-text-centered">
            <h2 class="title is-2 title_block">Наши Работы</h2>
            <span class="l_sub_decor"></span>
            <span class="sub_decor"></span>
            <span class="r_sub_decor"></span>
        </div>
        <div class="hero-body has-text-centered">
            <div class="container">
                <div class="columns is-desktop">
                    <div class="column"><img src="static/img/item_works.jpg" alt=""></div>
                    <div class="column"><img src="static/img/item_works2.jpg" alt=""></div>
                    <div class="column"><img src="static/img/item_works3.jpg" alt=""></div>
                </div>
                <div class="columns is-desktop" id="second_photo_group">
                    <div class="column"><img src="static/img/item_works4.jpg" alt=""></div>
                    <div class="column"><img src="static/img/item_works5.jpg" alt=""></div>
                    <div class="column"><img src="static/img/item_works6.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="hero-footer" style="margin-bottom: 50px;">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tweets</p>
                        <p class="title">3,456</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Following</p>
                        <p class="title">123</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Followers</p>
                        <p class="title">456K</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Likes</p>
                        <p class="title">789</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- masters -->
    <section class="hero is-dark is-midle" id="masters">
        <div class="hero-head has-text-centered">
            <h2 class="title is-2 title_block">Наши Мастера</h2>
            <span class="l_sub_decor"></span>
            <span class="sub_decor"></span>
            <span class="r_sub_decor"></span>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static/img/girl-first.jpg" alt="Placeholder image" style="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media-content">
                                    <p class="title is-4">Одинцова Наталья</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                </div>
                                <div class="btn_block_inst">
                                    <a class="button is-danger is-rounded is-outlined">Инстаграм</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static/img/girl-sec.jpg" alt="Placeholder image" style="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media-content">
                                    <p class="title is-4">Иванова Мария</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                </div>
                                <div class="btn_block_inst">
                                    <a class="button is-danger is-rounded is-outlined">Инстаграм</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static/img/girl-th.jpg" alt="Placeholder image" style="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media-content">
                                    <p class="title is-4">Полякова Екатерина</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                </div>
                                <div class="btn_block_inst">
                                    <a class="button is-danger is-rounded is-outlined">Инстаграм</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const burger_btn = document.getElementById('burger_btn');
        const mobile_menu = document.getElementById('navbarBasicExample');

        function showMenu() {
            const list_burger = burger_btn.classList;
            const list_mobile = mobile_menu.classList;

            // if (list_burger.contains('is-active')) {
            //     list_burger.remove('is-active');
            //     list_mobile.remove('is-active');
            // } else {
            //     list_burger.add('is-active');
            //     list_mobile.add('is-active');
            // }
            list_burger.toggle('is-active');
            list_mobile.toggle('is-active');
        }
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>